<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheets" href="style.css">
    <title>My HTML Page</title>
</head>
<body>
<img src="/static/images/profile.jpg" width="150px" height="150px" alt="my profile">
<br/>
<p>
    <b>Yi-Hsuan Chuang</b>
    <br/>
    Grad Student, University of Nevada, Reno
</p>

<h2>Education</h2>
<p>
<ul>
    <li>University of Nevada, Reno <br/>Projected graduation: Fall, 2022 <br/>Master, Computer Science and Engineering
    </li>
</ul>
</p>

<h2>Relevant Coursework</h2>
<p>
<ul>
    <li>CS 446/646: Operating Systems (Section 1001)<br/>Concurrent processes, interprocess communication, processor
        management, virtual and real memory management, deadlock, file systems, disk management, performance issues,
        case studies. Practical experience with UNIX, including reading technical documents.
    </li>
</ul>
</p>

<h2>Work Experience</h2>
<p>
<ul>
    <li>Support Engineer, UnaBiz Co., Ltd. Feb. 2018 - May. 2022<br/>
        Primary responsibilities include continuous monitoring of systems, software, and hardware.
    </li>
</ul>
</p>

<h2>Research</h2>
<p>
<ul>
    <li>The Influence of Service-Oriented IT Capabilities on Firm Agility and Firm Performance.<br/></li>
</ul>
</p>

<h2>Awards and Honors</h2>
<p>
<ul>
    <li>Top 3 of Getting Your Shot issued by National Geographic.</li>
    <li>Scholarship for International Exchange Students Program in Turkey, 2012</li>
</ul>
</p>

</body>
</html>